// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 62px - 10vh);
}



.text-green, .bg-green {
    color: #26ba13;
}





